/* Animations from animista.net*/
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.wrapper{
    width:98%;
    margin:auto;

}

header{
    height:75px;
    background:#333;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

a{
    color: white;
}

.login-reg{
    float:right;
    color:white;
    background:transparent;
    text-decoration: none;
    padding: 10px 10px;
    font-family: sans-serif;
    font-size:16px;
    border-top:none;
    border-bottom:none;
}

.login-reg:hover{
    background:white;
    color:#333;
}

.logo img{
    position: absolute;
    float:left;
    left:3px;
    width:110px;
    height:100px;
}

body{
    background: cornflowerblue;
}

.rooster-main{
    position:absolute;
    width:40%;
    height:auto;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    color:white;
    font-size: 30px;
}

.rooster-main h1{
    text-align: center;
    font-family: Neon;
    color:mintcream;
    text-transform: uppercase;
    font-size: 80px;
}

@font-face{
    font-family:Neon;
    src: url(/fonts/Neon.ttf);
}


@keyframes rooster-main {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-110px);
              transform: translateY(-110px);
    }
}

.wrap{
    height:88%;
    width:100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.loginbox{
    width:370px;
    height:420px;
    position: relative;
    margin:8% auto;
    background:#fff;
    padding:5px;
    overflow:hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   display: none;
}

.buttonbox{
    width:220px;
    margin:5% auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}


.toggle-btn{
    padding: 10px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline: none;
    position: relative;
}

#btn{
    top:0;
    left:0;
    position: absolute;
    width:110px;
    height:100%;
    background:darkorange;
    border-radius: 30px;
    transition: .5s;
}

.input{
    top:90px;
    position: absolute;
    width:280px;
    transition:0.5s;
}

.input-field{
    width:100%;
    padding:10px 0;
    margin: 5px, 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline:none;
    background: transparent;
}

.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor: pointer;
    display: block;
    margin:auto;
    background:darkorange;
    border:0;
    outline:none;
    border-radius:30px;
}

.checkbox{
    margin: 30px 10px 34px 0;
}

span{
    color:#777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left:50px;
}

#register{
    left:450px;
}

@keyframes loginbox{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.dash-btn{
    float:right;
    color:white;
    background:transparent;
    text-decoration: none;
    padding: 10px 10px;
    font-family: sans-serif;
    font-size:16px;
    border-top:none;
    border-bottom:none;
    border-left:none;
}

.dash-btn:hover, a:hover{
    background:white;
    color:#333;
}

.shifts{
    margin-left:5%;
    margin-top: 2%;
}

table{
    width:50%;
    border:solid;
    padding:2px;
    background:white;
}

th{
    border:solid 2px;
    padding:2px;
}

td{
    text-align: center;
    border:solid 1px;
    padding:2px;
}

.main-page, .current-staff, .current-roles, .current-shifts{
    margin-left:37%;
    margin-top:auto;
}

.addstaff, .addrole, .addshift{
    height: auto;
    width:11%;
    border:solid;
    padding:5px;
    margin-left:40px;
    margin-top:50px;
}

.prof-head{
    margin-top:60px;
    margin-left:30px;
}

.user-deets{
    margin-top:10px;
    margin-left:40px;
}

ul{
    list-style-type: none;
}

li{
    padding:10px;
}

#terms{
    color:black;
}

#my-signin2{
    margin-left:40%;
}